* {
    padding:0;
    margin:0;
}


body {
    background-color:hsl(229, 57%, 11%) ;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
} 

.components {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    top: 30%; 
}

.first_component {
    height: 150px;
    width: 280px;
    margin-left: 30px;
    border-radius: 10px;
    border-top-right-radius: 70px;
    background-color: hsl(228, 56%, 26%);
    color: hsl(229, 7%, 55%);
}

.header__logo{
    padding-top: 30px;
    padding-left: 30px;
    width: 40%;
    height: auto;
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    padding-top: 20px;
    padding-left: 20px;
}

.icon_pic-1,.icon_pic-2,.icon_pic-3{
    color:hsl(243, 100%, 93%) ;
    padding: 5px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 4px;
    width: 50%;
    height: auto;
}

.icon_pic-2:hover{
    cursor: pointer;
}

#icon-1,#icon-2,#icon-3 {
    background-color: hsl(229, 57%, 11%);
    border-radius: 4px;
    width: 35px;
    height: 37px;
    border:none;
}


#file-input{
    display:none;
}

.second_component {
    color:white;
    height: 120px;
    width: 480px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: hsl(228, 56%, 26%);
}

#total_MB{
    font-weight: 600;
}

.MB_left{
    max-width: 150px;
    height: 40px;
    background-color: white;
    color:  hsl(229, 7%, 55%);
    font-size: 10px;
    border-radius: 8px;
    position: relative;
    left:66%;
    top:-25%;
    text-align: center;
    padding:4px;
    text-transform: uppercase;
}

.text_MB{
    padding-left: 5px;
    font-weight: bold;
    bottom: 10px;
}

#remaining_MB{
    font-size: 30px;
    color:black;
    font-weight: 700;
}

.triangle{
    max-width: 20px;
    height: 20px;
    position: relative;
    left:90.6%;
    top:-33%;
    /* border-top-right-radius:5px ; */
    background-color: white;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.container_progress{
    margin-top: -10%;
    margin-left: 10%;
}

.progress_bar{
    width: 90%;
    height: 15px;
    border: hsl(227, 57%, 23%) 1px solid;
    background-color:  hsl(229, 57%, 11%);
    margin: 15px 0;
    border-radius: 20px;
    display: flex;
    
}

.progress-point{
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 100%;
    left: -8px;
    top:25%;
    position: relative;
}

#progress-precent{
    width: 0%;
    height: 100%;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 20px;

}

.max_min{
    display: flex;
    font-size: 12px;
    font-weight: bold;
    margin-top: -10px;
    position: relative;
}

.max_MB{
    position: absolute;
    right:8%;
}

.background_photo{
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}